{% from "_formhelper.html" import render_field %}

{% extends 'base.html' %}


{% block title %}
Lista de Aves
{% endblock %}


{% block content %}
<form method="post" enctype="multipart/form-data">
  <h3 class="mb-3">Classificação</h3>
  
  {{ render_field( form.ave_id ) }}
  {{ render_field( form.nome_cientifico ) }}

  {{ render_field( form.autor ) }}
  {{ render_field( form.nome_popular ) }}  
  {{ render_field( form.nome_ingles ) }}


  {{ render_field( form.ordem_id ) }}
  {{ render_field( form.ordem ) }}    
  {{ render_field( form.familia_id ) }}
  {{ render_field( form.familia ) }}

  <!--
  <hr>
  <h3 class="mb-3">Mídia</h3>  
  {{ render_field( form.foto_capa ) }}
  {{ render_field( form.midia_extra ) }}
  -->
  
  <hr>
  <h3 class="mb-3">Estádo de Conservação</h3>

  {{ render_field( form.conserv_int ) }}
  {{ render_field( form.conserv_loc ) }}

  <hr>
  <h3 class="mb-3">Frequências</h3>

  {{ render_field( form.frequencia_ocorrencia ) }}
  {{ render_field( form.abundancia_relativa ) }}

  <fieldset class="d-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Salvar <i class="bi bi-save2"></i></button>
  </fieldset>
  
</form>

{% endblock %}


{% block end_body_script %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script>
  const ordem = $( '#ordem' );
  const familia = $( '#familia' );

  const familia_load = () => {
      $.getJSON( `api/familias?ordem=${ordem.val()}`, familias => {
	  familia.find( 'option' ).remove();
	  
	  familias.forEach( fm => {
	      familia.append( `<option value="${fm.id}">${fm.nome}</option>` );
	  });
      });	  
  };
  
  ordem.change( familia_load );

  /** Atualiza lista de ordens. */
  $( document ).ready( () => {
      $.getJSON( 'api/ordens', ordens => {
	  ordem.find( 'option' ).remove();
	  ordens.forEach( od => {
	      ordem.append( `<option value="${od.id}">${od.nome}</option>` );
	  });

	  familia_load();
      });
  });


  

</script>

{% endblock %}
