{% extends 'base.html' %}

{% block title %}{{ ave_class[ 'nome_cientifico' ] }}{% endblock %}

{% block content %}
<article class="card">
  <div class="row">

    {% if ave[ 'thumbnail' ] %}
    <div class="col-md-6 p-3">

      <img src="{{ build_media_path( ave[ 'thumbnail' ]) }}" alt="{{ ave_class[ 'nome_comum' ] }}" class="card-img img-thumbnail img-fluid float-start">
    </div>
    {% endif %}
    
    {% if ave[ 'thumbnail' ] %}
    <div class="col-md-6">
    {% else %}
    <div class="col-md-12">
    {% endif %}
      
      <section class="card-body">
	
	<h2 class="card-title">{{ ave_class[ 'nome_cientifico' ] }}</h2>
	<h5 class="card-subtitle text-muted"><em>{{ ave_class[ 'autor' ] }}</em></h5>

	{% if ave_class[ 'nome_popular' ] %}
	<hr>

	<h2 class="card-title">{{ ave_class[ 'nome_popular' ] }}</h2>
	{% endif %}
	

	{% if ave_class[ 'nome_ingles' ] %}
	<h5><strong>Nome em Inglês:</strong> {{ ave_class[ 'nome_ingles' ] }}</h5>
	{% endif %}
	

	<hr>

	<h2 class="card-title">Classificação Ciêntifica</h2>

	<div class="table-responsive">
	  <table class="table">

	    <tr>
	      <th scope="row">Ordem:</th>
	      
	      <td>{{ ave_class[ 'ordem' ] }}</td>
	    </tr>	

	    <tr>
	      <th scope="row">Família:</th>
	      
	      <td>{{ ave_class[ 'familia' ] }}</td>
	    </tr>	

	    <tr>
	      <th scope="row">Subfamília:</th>
	      
	      <td>{{ ave_class[ 'subfamilia' ] }}</td>
	    </tr>

	    <tr>
	      <th scope="row">Espécie:</th>
	      
	      <td>{{ ave_class[ 'especie' ] }}</td>
	    </tr>

	  </table>
	</div>
	
      </section>
    </div>
    </div>

</article>

{% for descr in ave_descrs %}
<article class="card my-3 p-3">
  <div class="card-body">
    <h2 class="card-title">{{ descr[ 'titulo' ] }}</h2>

    <p>{{ descr[ 'conteudo' ] }}</p>
    
  </div>

</article>
{% endfor %}



{% endblock %}


