{% extends 'base.html' %}

{% block extra_header %}
<style>
  /* muda cursor para mostrar linhas clicáveis. */
  .ave-row {
      cursor: pointer;
  };
</style>
{% endblock %}


{% block content %}
<article class="tabela-aves col">

  <!-- https://getbootstrap.com/docs/5.1/content/tables/ -->
  <div class="table-responsive-sm">
    <table class="table table-bordered table-hover table-striped">
      <thead>
	<tr>
	  <th scope="col">Ordem</th>
	  <th scope="col">Família</th>	
	  <th scope="col">Nome da Espécie</th>
	  <th scope="col">Nome Popular</th>
	  <th scope="col">Nome Científico</th>
	  <th scope="col">Estado de Conservação</th>
	  <th scope="col">FO</th>
	  <th scope="col">FA</th>
	  <th scope="col"></th>
	  <th scope="col"></th>	  

	</tr>
      </thead>

      <tbody>
	{% for ave in aves %}
	<tr class="ave-row" data-href="detalhe/{{ ave[ 'id' ] }}">
	  <td>{{ ave[ 'nome_cientifico' ] }}</td>
	  <td>{{ ave[ 'familia' ] }}</td>
	  <td>{{ ave[ 'especie' ] }}</td>
	  <td>{{ ave[ 'nome_popular' ] }}</td>
	  <td>
	    {{ ave[ 'nome_cientifico' ] }}
	    {% if ave[ 'autor' ] %}
	    <em>{{ ave[ 'autor' ] }}</em>
	    {% endif %}
	  </td>
	  <td>{{ ave[ 'estado_conservacao' ] }}</td>
	  <td>{{ ave[ 'frequencia_ocorrencia' ] }}</td>
	  <td>{{ ave[ 'abundancia_relativa' ] }}</td>

	  <td class="edit-remove-btn">
	    <a class="btn btn-primary" role="button" href="edit/{{ ave[ 'id' ] }}">
	      <i class="bi bi-pencil"></i>
	    </a>
	  </td>
	  <td class="edit-remove-btn">
	    <a class="btn btn-danger" role="button" href="delete/{{ ave[ 'id' ] }}">
	      <i class="bi bi-trash"></i>
	    </a>
	  </td>
	  
	</tr>
	
	{% endfor %}
      </tbody>
    </table>
  </div>


      
</article>
    
{% endblock %}


{% block end_body_script %}
<script>
  //Torna as linhas clicaveis como links para página de detalhes da ave (atributo data-href)
  const ave_rows = document.querySelectorAll( '.ave-row' )
  ave_rows.forEach( ( row ) => {
      const href = row.dataset.href;

      //Não põe link nos botões de edição/remoção
      const tds_click = row.querySelectorAll( 'td:not(.edit-remove-btn)' )
      tds_click.forEach( ( td ) => {
          td.addEventListener( 'click', () => window.location = href );
      });
  });
</script>
{% endblock %}
