{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Parque Estadual das Fontes do Ipiranga</h1>
<div class="gap-3 my-3">
  <ul class="list-group">
    <li class="list-group-item"><a class="" aria-current="page" href="/aves">Aves</a>
    <li class="list-group-item"><a class="" aria-current="page" href="/aves/nova">Nova Ave</a>
    <li class="list-group-item"><a class="" aria-current="page" href="/aves/classifi">Editar Ordens e Filos</a>
  </ul>
</div>

<img class="img-thumbnail" src="/static/parque.jpeg">



{% endblock %}
